html,body{
    margin: 0;
    padding: 0;
}
body{
    font-size: 14px;
    color: #333;
}
@media print {
    body{-webkit-print-color-adjust:exact;} 
}
.fr{
    float:right;
}
.vt{
    vertical-align: top;
}